.share {
    background: rgb(255, 160, 105);
    padding: 20px;
    color: rgb(83, 83, 83);

    &__copy {
        .paragraph.medium {
            margin-bottom: 10px !important;
        }
    }

    .icon {
        width: 30px;
        margin: auto !important;
        padding-top: 20px;
    }
    &__item {
        justify-content: center;
        align-self: center;
        box-shadow: 2px 2px 4px 1px rgba(100, 100, 100, 0.507);
        gap: 10px !important;
        vertical-align: middle;
        border-radius: 3px;
        margin: auto;
        height: 100%;
        background-color: rgb(255, 217, 0);
        width: 20%;
        min-width: 200px;

        .headline {
            margin-bottom: 0;
            text-align: center;
        }
    }
    &__socials {
        background-color: rgb(253, 108, 64);
        margin: 30px -20px;
        padding: 20px;
        .flex {
            gap: 20px !important;
            margin: 0 auto;
            margin-bottom: 20px;
            max-width: 600px;
        }
        .icon {
            width: calc(100% / 7 - (20px));
            max-width: 70px;
        }
        @media screen and(max-width: 640px) {
            padding: 5px;
            .flex {
                gap: 5px !important;
            }
            .icon {
                width: calc(100% / 7 - (5px));
            }
        }
        .paragraph {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    &__copy-flex {
        margin-bottom: 20px;
        .flex {
            background-color: rgb(246, 246, 246);
            box-shadow: 1px 1px 2px 1px #7a7a7a;
            border: 1px solid transparent;
            gap: 0 !important;
            height: 42px;
            
            .paragraph {
                overflow-x: hidden;
                white-space: nowrap;
                line-height: 42px;
                padding-left: 30px;
                margin: 0 !important;
            }
        }
        .copy {
            background-color: rgb(255, 231, 16);
            margin-left: 0;
            padding-left: 15px !important;
            width: 65px;
        }
        input {
            background-color: inherit;
            border: none;
            padding-left: 20px;

            &:active, &:focus {
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
        input:active {
            border: none;
        }
        .dropdown {
            width: 100px;
            margin-left: 0;
            height: 23px;
            position: relative;
            .flex {
                height: auto;
                line-height: 20px;
                font-size: 20px;
            }
            &__body-item {
                font-size: 20px;
            }
            .icon {
                display: none;
            }
        }
        .iframe {
            width: calc(100% - 235px);
        }
        .iframed {
            width: calc(100% - 135px) !important;
        }
    }
}