.speed {
    background: rgb(255, 160, 105);
    padding: 20px;
    color: rgb(83, 83, 83);

    .icon {
        height: 50px;
    }
    .headline {
        
    }
    &__icon {
        width: 55px;
    }

    .flex {
        width: 100%;
    }

    &__Control {
        width: 100%;
    }
    .range {
        &__Control {
            width: 100%;
        }
    }
}
.volume {
    background: rgb(255, 160, 105);
    padding: 20px;
    color: rgb(83, 83, 83);
    
    .icon {
        height: 50px;
    }
    .headline {

    }
    &__icon {
        width: 55px;
    }

    .flex {
        width: 100%;
    }

    &__Control {
        width: calc(100% - 95px);
    }
    .range {
        &__Control {
            width: calc(100% - 95px);
        }
    }
    &__flex {
        gap: 10px !important;
    }
}