.player {
    &__menu {
        align-items: center;
        gap: 0px !important;
        height: 60px;
        margin: 0 auto;
        align-self: center;
        justify-content: center;
        background-color: silver;
        &-item {
            justify-content: center;
            align-self: center;
            gap: 10px !important;
            vertical-align: middle;
            margin: auto;
            height: 100%;
            .icon {
                height: 30px;
                padding: 0;
                margin: auto;
            }
            .paragraph {
                margin: auto auto auto 0;
            }
            &-box {
                transition: .25s;
                justify-content: center;
                width: calc((100% / 6));
                vertical-align: middle;
                height: 100%;
                cursor: pointer;

                &:hover {
                    background: rgb(255, 82, 59)
                }
                &--highlighted {
                    background: rgb(255, 160, 105)
                }
            }
        }
    }
}

