.info {
    background: rgb(255, 160, 105);
    padding: 20px;
    color: rgb(83, 83, 83);

    &__flex {
        .info__icon {
            height: 30px;
        }
        .paragraph {
            text-align: left;
            margin-right: auto !important;
            margin-left: 0;
        }
        &-link {
            flex-wrap: nowrap;
            gap: 10px !important;
        }
    }
    .icon {
        height: 30px;
    }
    &__sections {
        flex-wrap: nowrap;
        .info__episode {
            width: calc(60% - 10px);
        }
        .info__podcast {
            width: calc(40% - 10px);
        }
        @media screen and (max-width: 690px) {
            .info__episode {
                width: 100%;
            }
            .info__podcast {
                width: 100%;
            }
        }
    }

    .flex__mobile {
        &-item {
            width: 40%;
        }
    }
}