.header {
    background: rgb(255, 212, 171);
    .podcast {
        &__flex {
            gap: 0px !important;
            .headline {
                text-align: left;
                margin-left: 0;
            }
            .paragraph {
                text-align: left;
                margin-left: 0;
                margin-bottom: 10px;
            }
            .flex {
                margin-top: 16px;
                gap: 0px !important;
            }
            margin-bottom: -40px;
        }
        margin: 15px;
        width: 100px;
        height: 100px;
        border: 2px solid black;
    }

}