.controls {
    background: rgb(255, 212, 171);
    padding: 30px;
    color: rgb(83, 83, 83);
    margin: 0 auto;
    width: 310px;

    .paragraph {
        text-align: center;
        margin-top: -15px;
        margin-bottom: 0px;
    }

    &__flex {
        gap: 15px !important;
    }

    .icon {
        height: 50px;
        width: 50px;
        &__rotated {
            &--left {
                transform: rotate(90deg);
            }
            &--right {
                transform: rotate(270deg);
            }
        }
    }
}