.downloads {
    background: rgb(255, 160, 105);
    padding: 20px;
    color: rgb(83, 83, 83);
    
    &__list {
        gap: 20px !important;

        .downloads__link {
            position: relative;
            gap: 5px !important;
            .paragraph {
                margin: 0;
                text-align: left;
            }
            .link {
                color: rgb(83, 83, 83);
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                align-self: center;
                .paragraph {
                    margin: 0;
                    text-align: center;
                }
            }
            &-textwrap {
                flex-wrap: nowrap;
                gap: 5px !important;
            }
            &-iconwrap {
                flex-wrap: nowrap;
                gap: 10px !important;
            }
        }
        .downloads__button {
            background-color: rgb(253, 206, 105);
            max-width: 220px;
            text-align: center;
            font-weight: 300;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid black;

            &-square {
                width: 28px;
                height: auto;
            }
            
        }
        .downloads__buttons {
            position: absolute;
            right: 10px;
            gap: 15px !important;
            @media screen and (max-width: 640px) {
                position: relative;
                margin: 5px 0 0 10px;
            }
        }
    }
    .musicnote {
        height: 30px;
        background-color: rgb(253, 206, 105);
        padding: 10px;
        border-radius: 50px;
    }

}