.chapters {
    background: rgb(255, 160, 105);
    padding: 20px;
    color: rgb(83, 83, 83);

    &__list {
        gap: 20px !important;

        .chapter {
            flex-wrap: nowrap;
            .paragraph {
                margin: 0;
            }
            &__id {

            }
            &__title {
                font-weight: bolder;
            }
            &__time {
                text-align: right;
                margin-left: auto !important;
                float: right;
            }
        }
    }
}