.player {
    max-width: 1050px;
    .flex {
        gap: 40px;
    }
    &__ranges {
        gap: 0px !important;
        .range {
            &__pins {
                width: 99%;
            }
        }
    }
}

